body {
    font-family: "Garamond", Garamond, serif;
    text-align: center;
}

.container {
    max-width: none !important;
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/stars_bg.gif') !important;
}

.avatar-container .Player-username {
    font-size: 2em;
    font-family: "Garamond", Garamond, serif;
    font-weight: bold;
    font-variant: small-caps !important;
    font-style: italic;
}

h2, h3 {
    animation:rainbowText 2s infinite;
    font-family: "Lucida Console", "Courier New", monospace;
}
@keyframes rainbowText{
    0%   {  color: blue; }
/*    17%  {  color: #FF7F00; } */
    33%  {  color: red; }
/*    50%  {  color: #00F11D; } */
    67%  {  color: purple; }
/*    83%  {  color: #A800FF; } */
    100% {  color: blue; }
}

.about-container {
    overflow: hidden;
    position: relative;
}

/* see https://yewang.github.io/ProfileCSS/profile.css for original with scrolling stuff */
.about-container h1 {
    color: limegreen;
    font-size: 3em;
    position: absolute;
    width: 100%;
    height: 100%;
}

.about-container h3 {
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%   {  opacity: 1; }
    49%  {  opacity: 1; }
    60%  {  opacity: 0; }
    99%  {  opacity: 0; }
    100% {  opacity: 1; }
}

/* clean up the menu */
a[href="/leaderboards"] {
    display: none !important;
}
