.ratings-container {
  display:none !important;
}

body {
    font-family: "Garamond", Garamond, serif;
    text-align: center;
}

.container {
    max-width: none !important;
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/stars_bg.gif') !important;
}

.avatar-container .Player-username {
    font-size: 2em;
    font-family: "Garamond", Garamond, serif;
    font-weight: bold;
    font-variant: small-caps !important;
    font-style: italic;
}
.avatar-and-ratings-row {
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/halo.png') !important;
}

.strong-wins { 
  fill: deepskyblue !important;
}
.strong-losses { 
  fill: hotpink !important;
}
.weak-wins { 
  fill: cornflowerblue !important;
}
.weak-losses { 
  fill: deeppink !important;
}
.library-won-result-vs-stronger { 
  background-color: deepskyblue !important;
}
.library-won-result-vs-weaker { 
  background-color: cornflowerblue !important;
  color: white !important
}
.library-lost-result-vs-weaker { 
  background-color: deeppink !important;
  color: white !important
}
.library-lost-result-vs-stronger { 
  background-color: hotpink !important;
}
.library-lost-result-unranked body { 
  color: hotpink !important;
}
.library-won-result-unranked body { 
  color: deepskyblue !important;
}


h2, h3 {
    animation:rainbowText 2s infinite;
    font-family: "Lucida Console", "Courier New", monospace;
}
@keyframes rainbowText{
    0%   {  color: tomato; }
/*    17%  {  color: #FF7F00; } */
    33%  {  color: deepskyblue; }
/*    50%  {  color: #00F11D; } */
    67%  {  color: lavender; }
/*    83%  {  color: #A800FF; } */
    100% {  color: tomato; }
}

.about-container {
    overflow: hidden;
    position: relative;
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/stars2.png') !important;
}
.Card  {
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/stars2.png') !important;
}

/* see https://yewang.github.io/ProfileCSS/profile.css for original with scrolling stuff */

.about-container {
    color: deepskyblue;
    font-style: italic;
}

.about-container h1 {
    color: deepskyblue;
    font-size: 3em;
}

.about-container h3 {
    animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
    0%   {  opacity: 1; }
    49%  {  opacity: 1; }
    60%  {  opacity: 0; }
    99%  {  opacity: 0; }
    100% {  opacity: 1; }
}

/* clean up the menu */
a[href="/leaderboards"] {
    display: none !important;
}
