.ratings-container {
  display:none !important;
}

.Card  {
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/stars2.png') !important;
    border-radius: 12px !important;
    border-style: outset !important;
}

.NavBar {
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/cnstar.gif') !important;
}

.avatar-and-ratings-row {
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/halo.png') !important;
    opacity: 0.6;
    background-repeat: no-repeat !important;
}

body {
    font-family: "Garamond", Garamond, serif;
    text-align: center;
}
.chart {
    font-family: "Courier New", "Lucida Console", monospace;
}

.activity-card {
    text-align: left !important;
}

.container {
    max-width: none !important;
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/stars_bg.gif') !important;
    border-image: url('https://brentmobbs.github.io/bdmxogo.github.io/frame.png') 30%  !important;
}

.current-users-move {
    background-image: url('https://brentmobbs.github.io/bdmxogo.github.io/stars2.png') !important;
}

.avatar-container .Player-username {
    font-size: 2em;
    font-family: "Garamond", Garamond, serif;
    font-weight: bold;
    font-variant: small-caps !important;
    font-style: italic;
}

.strong-wins { 
  fill: deepskyblue !important;
}
.strong-losses { 
  fill: hotpink !important;
}
.weak-wins { 
  fill: cornflowerblue !important;
}
.weak-losses { 
  fill: deeppink !important;
}
.library-won-result-vs-stronger { 
  background-color: deepskyblue !important;
}
.library-won-result-vs-weaker { 
  background-color: cornflowerblue !important;
  color: white !important;
}
.library-lost-result-vs-weaker { 
  background-color: deeppink !important;
  color: white !important;
}
.library-lost-result-vs-stronger { 
  background-color: hotpink !important;
}
.library-lost-result-unranked { 
  color: hotpink !important;
}
.library-won-result-unranked { 
  color: deepskyblue !important;
}


h1, h2, h3 {
    animation:rainbowText 2s infinite;
    font-family: "Lucida Console", "Courier New", monospace;
}
@keyframes rainbowText{
    0%   {  color: tomato; }
/*    17%  {  color: #FF7F00; } */
    33%  {  color: deepskyblue; }
/*    50%  {  color: #00F11D; } */
    67%  {  color: lavender; }
/*    83%  {  color: #A800FF; } */
    100% {  color: tomato; }
}

.about-container {
    overflow: hidden;
    position: relative;
}

/* see https://yewang.github.io/ProfileCSS/profile.css for original with scrolling stuff */

.about-container {
    color: deepskyblue;
    font-style: italic;
    font-size: medium;
}

.about-container h1 {
    font-size: large !important;
    font-style: normal !important;
}

.about-container h3 {
    color: lightcyan !important;
    font-style: normal !important;
    animation:blinkingText 2s infinite;
}
@keyframes blinkingText{
    0%   {  opacity: 0; }
    10%  {  opacity: 1; }
    20%  {  opacity: 0; }
    35%  {  opacity: 1; }
    50%  {  opacity: 1; }
    100% {  opacity: 0; }
}
